<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos - Camp Code</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">       

            <div class="row mt-4">
                <h3>Envio de Contato</h3>
            </div>

            <form action="" method="post" class="row mt-4 p-4 rounde border shadow">
                {{ form.csrf_token }}
                
                {{ form.nome.label() }}
                {{ form.nome(class="form-control") }}
                
                {{ form.email.label() }}
                {{ form.email(class="form-control") }}
                
                {{ form.assunto.label() }}
                {{ form.assunto(class="form-control") }}
                
                {{ form.mensagem.label() }}
                {{ form.mensagem(class="form-control") }}

                {{ form.btnSubmit(class="btn btn-primary col-12 mt-3") }}
            </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>